Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.51
psycopg==3.3.6
psycopg-binary==3.3.6
openpyxl==3.1.5
python-dotenv==1.0.1
requests==2.33.1
google-cloud-storage==2.15.0
pocketbase==0.2.1
pyserial==3.5
Jinja2==3.1.6
Werkzeug==3.1.8